<div class="surface-section px-2 py-5 bg-indigo-50">
  <p-card styleClass="p-1 lg:p-2" header="Schools">
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="addNewSchoolAction(false)"></button>
        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedSchoolAction()"></button>
      </ng-template>

      <ng-template pTemplate="right">
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
      </ng-template>
    </p-toolbar>

    <p-table [value]="schools" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Applications Open</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-school>
        <tr>
          <td>{{school.name}}</td>
          <td>{{school.applicationOpen ? 'Yes' : 'No'}}</td>
          <td>Action</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <tr>
          <th [colSpan]="3">
            There are {{schools.length}} schools
          </th>
        </tr>
      </ng-template>
    </p-table>

    <p-dialog [(visible)]="showSchoolDialog" header="Add new School" [modal]="true"
              styleClass="p-fluid w-50 max-h-screen">
      <ng-template pTemplate="content">
        <form [formGroup]="schoolForm" (submit)="addNewSchoolAction(true)">
          <div class="field">
            <label class="block">Name</label>
            <p-dropdown placeholder="Select an admin to manage this school" [options]="admins" [optionValue]="'id'"
                        [optionLabel]="'username'" [formControlName]="'owner'"></p-dropdown>
          </div>
          <div class="field">
            <label>Name</label>
            <input type="text" pInputText [formControlName]="'name'">
            <small class="p-error" *ngIf="!schoolForm.get('name')">Name is required.</small>
          </div>
          <div class="field">
            <label>Max Grade</label>
            <input type="text" pInputText [formControlName]="'maxGrade'">
          </div>
          <button [disabled]="!schoolForm.valid" pButton label="Save" icon="pi pi-add"></button>
        </form>
      </ng-template>
    </p-dialog>
  </p-card>

  <p-divider></p-divider>

  <!-- Academic Years -->
  <p-panel [header]="'Academic Years'" [toggleable]="true" [styleClass]="'py-4'">
    <div *ngFor="let year of academicYears" class="my-2">
      <div class="d-flex align-middle form-group">
        <input pInputText #yearInput [disabled]="true" [value]="year.name" class="w-full">&nbsp;
        <p-toggleButton [(ngModel)]="yearInput.disabled" [onLabel]="'Edit'" [offLabel]="'Save'"
                        (click)="editYTSAction(0, year, yearInput)">
        </p-toggleButton>&nbsp;
        <button pButton (click)="deleteATSAction(0, year)" class="p-button-danger">Delete</button>
      </div>
    </div>
    <p-divider></p-divider>
    <div class="d-flex justify-content-between">
      <input pInputText #yearAddInput [hidden]="true" placeholder="20XX/20XY">&nbsp;
      <p-toggleButton [(ngModel)]="yearAddInput.hidden" [onLabel]="'Add'" [offLabel]="'Save'"
                      (click)="addYTSAction(0, yearAddInput)"></p-toggleButton>
    </div>
  </p-panel>

  <!-- Terms -->
  <p-panel [header]="'Terms'" [toggleable]="true" [styleClass]="'py-4'">
    <div *ngFor="let term of terms" class="my-2 d-flex">
      <input pInputText #termUpdateInput [disabled]="true" [value]="term.name" class="w-full">&nbsp;
      <p-toggleButton [(ngModel)]="termUpdateInput.disabled" [onLabel]="'Edit'" [offLabel]="'Save'"
                      (click)="editYTSAction(1, term, termUpdateInput)"></p-toggleButton>&nbsp;
      <button pButton (click)="deleteATSAction(1, term)" icon="pi pi-trash" pTooltip="Delete"
              class="p-button-danger p-button-rounded"></button>
    </div>
    <p-divider></p-divider>
    <div class="d-flex justify-content-end">
      <input pInputText #termAddInput [hidden]="true" class="w-full">&nbsp;
      <p-toggleButton [(ngModel)]="termAddInput.hidden" [onLabel]="'Add'" [offLabel]="'Save'"
                      (click)="addYTSAction(1, termAddInput)"></p-toggleButton>&nbsp;
    </div>
  </p-panel>

  <!-- Seqs -->
  <p-panel [header]="'Sequences'" [toggleable]="true" [styleClass]="'py-4'">
    <p-table [value]="sequencesByTerms" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Sequence</th>
          <th>Type</th>
          <th>Term</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-st>
        <tr>
          <td>
            <input pInputText #seqUpdateInput [disabled]="true" [value]="st.sequence.name" class="w-full">
          </td>
          <td>
            <div class="inline-flex mx-2" *ngFor="let type of sequenceTypes">
              <p-radioButton [value]="type" [(ngModel)]="st.sequence.type"></p-radioButton>
              <label class="mx-1">{{type | titlecase}}</label>
            </div>
          </td>
          <td>{{st.term.name}}</td>
          <td>
            <p-toggleButton [(ngModel)]="seqUpdateInput.disabled" [onLabel]="'Edit'" [offLabel]="'Save'"
                            (click)="editYTSAction(2, st.sequence, seqUpdateInput)"></p-toggleButton>&nbsp;
            <button pButton (click)="deleteATSAction(2, st.sequence)" icon="pi pi-trash"
                    class="p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-divider></p-divider>
    <div class="d-flex">
      <form class="mr-auto" [formGroup]="sequenceForm">
        <input pInputText #seqAddInput [hidden]="true" class="w-full mb-2" [formControlName]="'name'">&nbsp;
        <p-dropdown [hidden]="seqAddInput.hidden" [options]="terms" [optionLabel]="'name'" [optionValue]="'id'"
                    [styleClass]="'w-full mb-2'" [formControlName]="'term'"></p-dropdown>
        <div *ngFor="let type of sequenceTypes" [hidden]="seqAddInput.hidden" class="inline-flex mx-2">
          <input name="type" [value]="type" type="radio" class="p-radiobutton" [formControlName]="'type'">&nbsp;
          <label>{{type | titlecase}}</label>
        </div>
      </form>
      <p-toggleButton (click)="addYTSAction(2, seqAddInput)" [(ngModel)]="seqAddInput.hidden" [onLabel]="'Add'"
                      [offLabel]="'Save'"></p-toggleButton>&nbsp;
    </div>
  </p-panel>
</div>
