<div class="rc-subjects" *ngIf="schoolId > 0">
  <div class="py-2 d-flex">
    <span class="h3">Settings</span>
    <span class="spacer"></span>
    <span class="px-2">
      <button pButton [disabled]="true" label="Load Default Data"></button>
    </span>
  </div>

  <div class="py-4">
    <span *ngIf="!school" class="text-danger fst-italic">School settings have not been added</span>
    <form (submit)="saveSettingsAction()" [formGroup]="settingsForm">
      <label class="block text-800 font-medium mb-2">School Name</label>
      <input pInputText [formControlName]="'name'" [value]="school? school.name: ''" class="w-100 mb-2">

      <div class="grid formgrid pb-3">
        <div class="md:col-4 py-2">
          <label
            class="block text-800 font-medium mb-2">Applications {{settingsForm.get('applicationsOpen')?.value ? 'Open' : 'Closed'}}</label>
          <p-inputSwitch [formControlName]="'applicationsOpen'"></p-inputSwitch>
        </div>
        <div class="md:col-4">
          <label class="block text-800 font-medium mb-2">Min Grade Score</label>
          <input pInputText type="number" [value]="0" [class]="'w-100'" [disabled]="true">
        </div>
        <div class="md:col-4">
          <label class="block text-800 font-medium mb-2">Max Grade Score</label>
          <input pInputText [formControlName]="'maxGrade'" class="w-100">
        </div>

      </div>

      <div class="grid formgrid pb-3">
        <div class="md:col-4">
          <label class="block text-800 font-medium mb-2">Current Academic Year</label>
          <p-dropdown [formControlName]="'year'" [options]="academicYears" [optionLabel]="'name'" [optionValue]="'id'"
                      [styleClass]="'w-100'"></p-dropdown>
        </div>
        <div class="md:col-4">
          <label class="block text-800 font-medium mb-2">Current Term</label>
          <input class="w-100" pInputText [value]="school ? (school.currentTerm ? school.currentTerm : 'None') : ''"
                 disabled>
        </div>
        <div class="md:col-4">
          <label class="block text-800 font-medium mb-2">Current Sequence</label>
          <p-dropdown [formControlName]="'sequence'" [options]="sequences" [optionLabel]="'name'" [optionValue]="'id'"
                      [styleClass]="'w-100'"></p-dropdown>
        </div>
      </div>
      <button [disabled]="!settingsForm.valid" class="" pButton type="submit" label="Save"></button>
    </form>
  </div>

  <p-panel [header]="'School Sections'" [toggleable]="true" [styleClass]="'py-4'">
    <div class="">
      <div *ngFor="let section of sections" class=" my-2 d-flex">
        <input pInputText #sectionUpdateInput [disabled]="true" [(ngModel)]="section.name" class="w-full">&nbsp;
        <p-toggleButton [(ngModel)]="sectionUpdateInput.disabled" [onLabel]="'Edit'"
                        [offLabel]="'Save'" (click)="saveSection(section, sectionUpdateInput.disabled)">
        </p-toggleButton>&nbsp;
        <button pButton label="Delete" class="p-button-danger" (click)="deleteSection(section)"></button>
      </div>
    </div>
    <p-divider></p-divider>
    <div class="">
      <div class="d-flex">
        <div class="mr-auto">
          <input pInputText #sectionInput [hidden]="true">&nbsp;
        </div>
        <div class="ml-auto">
          <p-toggleButton [(ngModel)]="sectionInput.hidden" [onLabel]="'Add'"
                          [offLabel]="sectionInput.value.length == 0? 'Cancel': 'Save'"
                          (click)="saveSection(sectionInput, sectionInput.hidden)">
          </p-toggleButton>
        </div>
      </div>
    </div>
  </p-panel>
</div>
