
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Transkript</title>
  <link rel="stylesheet" href="rc-welcome.component.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="favicon.ico" rel="icon" type="image/x-icon">
</head>
<body>
  <div class="container">
    <header>
      <h2><a href="#"><i class="icon"></i>Transkript</a></h2>
      <nav>
        <ul>
          <li>
            <a href="#" title="FAQ">FAQ</a>
          </li>
          <li>
            <a href="#" title="Contact">Contact</a>
          </li>
          <li>
            <a href="#" title="Help">Help</a>
          </li>
           <li>
            <a href="#" title="Login">Login</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="cover">
      <h1>Happiness is</h1>
      <h1>a good report card.</h1>
      <div class="touch-buttons">
        <a href="#" target="_blank" class="btn1" role="button">
        <span class="btn1">Live Demo</span></a>
      </div>
  </div>
</body>
</html>