<div class="rc-classlist">
  <div class="py-2 d-flex">
    <span class="h3">Student Applications</span>
    <span class="spacer"></span>
    <span class="px-2">
      <button [routerLink]="['/dashboard/application/add']" class="p-button-rounded" icon="pi pi-plus-circle"
              pButton></button>
    </span>
    <span class="px-2">
      <button class="p-button-rounded" icon="pi pi-refresh" pButton></button>
    </span>
  </div>
  <div class="py-2">
    <div class="row">
      <!-- If the applications are not loading properly for some reason, check that the order of the ngModel and ngModelChange attribs is correct -->
      <div class="col-md-6">
        <label class="block text-800 font-medium mb-2">Select Academic Year</label>
        <p-dropdown [(ngModel)]="applicationsRequest.yearId" (onChange)="loadApplications()" [options]="academicYears"
                    [optionLabel]="'name'" [optionValue]="'id'" [styleClass]="'w-100'"></p-dropdown>
      </div>
      <div class="col-md-6">
        <label class="block text-800 font-medium mb-2">Select Class</label>
        <p-dropdown [(ngModel)]="applicationsRequest.classSubId" (onChange)="loadApplications()" [options]="classes"
                    [optionLabel]="'name'" [optionValue]="'sub_id'" [styleClass]="'w-100'"></p-dropdown>
      </div>
    </div>
  </div>

  <div class="py-2 fadein animation-delay-500 animation-ease-in">
    <p-table [value]="studentATs" responsiveLayout="scroll" styleClass="p-datatable-striped">
      <ng-template pTemplate="header">
        <tr>
          <th>Student</th>
          <th>Reg No</th>
          <th *ngIf="applicationsRequest.classSubId < 0">Class Level</th>
          <th>Applied On</th>
          <th>Number of Subjects</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-studentAT>
        <tr *ngIf="applicationsRequest.yearId < 1">
          <td colspan="5">Select all fields above to view student applications</td>
        </tr>
        <tr>
          <td>{{studentAT.student.name}}</td>
          <td>{{studentAT.student.regNum}}</td>
          <td *ngIf="applicationsRequest.classSubId < 0">{{studentAT.application.key.classSubId}}</td>
          <td>{{studentAT.sat.createdAt}}</td>
          <td>{{studentAT.sat.numberOfSubjects}}</td>
          <td>
            <button [routerLink]="['/dashboard/application/view', studentAT.sat.id]" pButton
                    class="mr-1 p-button-rounded" icon="pi pi-pencil"></button>
            <button (click)="deleteSatAction(studentAT.sat.id)" pButton class="mr-1 p-button-danger p-button-rounded"
                    icon="pi pi-trash"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
