<div class="p-2 m-2" *ngIf="user">
  <form class="p-fluid" [formGroup]="userForm" (submit)="saveUserAction()">
    <div class="grid">
      <div class="col-12 field">
        <label>Username</label>
        <input pInputText [formControlName]="'email'">
      </div>
      <div class="col-12 md:col-6 field">
        <label>First Name</label>
        <input pInputText [formControlName]="'firstname'">
      </div>
      <div class="col-12 md:col-6 field">
        <label>Last Name</label>
        <input pInputText [formControlName]="'lastname'">
      </div>
      <div class="col-12 md:col-6 field">
        <label>Phone</label>
        <input pInputText [formControlName]="'phone'">
      </div>
      <div class="col-12 md:col-6 field">
        <label>Address</label>
        <input pInputText [formControlName]="'address'">
      </div>
      <div class="col-12 field">
        <button [disabled]="!userForm.valid && !userForm.dirty" pButton label="Save"></button>
      </div>
    </div>
  </form>
</div>
