<div class="surface-section border-round mb-4">
  <div class="surface-hover p-3 border-round-top">
    <span class="text-3xl md:mx-2">Student Application</span>
    <div class="grid md:mx-2 my-3">
      <!-- student -->
      <div class="md:col-6">
        <div class="mx-2 p-2 bg-black-alpha-10 border-round-left-md">
          <div class="field grid py-2">
            <span class="col-3">Name</span>
            <span class="col-9">{{studentApplication ? studentApplication.student.name : ''}}</span>
          </div>
          <div class="field grid py-2">
            <span class="col-3">Reg Number</span>
            <span class="col-9">{{studentApplication ? studentApplication.student.regNum : ''}}</span>
          </div>
          <div class="field grid py-2">
            <span class="col-3">Gender</span>
            <span class="col-9">{{studentApplication ? studentApplication.student.gender : ''}}</span>
          </div>
          <div class="field grid py-2">
            <span class="col-3">Date of Birth</span>
            <span class="col-9">{{studentApplication ? studentApplication.student.dob : ''}}</span>
          </div>
          <div class="field grid py-2">
            <span class="col-3">Place of Birth</span>
            <span class="col-9">{{studentApplication ? studentApplication.student.pob : ''}}</span>
          </div>
        </div>
      </div>
      <!-- end of student -->
      <!-- subjects -->
      <div class="md:col-6">
        <div class="mx-2 bg-white-alpha-10 border-round-right-md">
          <div class="field flex py-2" *ngFor="let subject of registeredSubjects">
            <span class="w-25 mx-3 bg-indigo-400 text-white text-center p-2">{{subject.subject.name}}</span>
            <span class="w-2 mx-3 bg-indigo-400 text-white text-center p-2">{{subject.subject.code}}</span>
            <span class="w-2 mx-3 bg-indigo-400 text-white text-center p-2 md:border-round-right">{{subject.subject.coefficient}}</span>
            <button (click)="unregisterSubjectAction(subject)" pButton class="p-button-icon p-button-danger p-button-rounded" icon="pi pi-trash" pTooltip="Unregister"></button>
          </div>
          <p-divider *ngIf="registeredSubjects.length != 0"></p-divider>
          <div class="field flex py-2" *ngFor="let subject of subjectsToRegister">
            <span class="w-25 mx-3 bg-black-alpha-10 text-center p-2">{{subject.name}}</span>
            <span class="w-2 mx-3 bg-black-alpha-10 text-center p-2">{{subject.code}}</span>
            <span class="w-2 mx-3 bg-black-alpha-10 text-center p-2 md:border-round-right">{{subject.coefficient}}</span>
            <button (click)="removeSubjectToRegister(subject.id)" pButton class="p-button-icon p-button-danger p-button-rounded" icon="pi pi-trash" pTooltip="Remove"></button>
          </div>
        </div>
      </div>
      <!-- end subjects -->
    </div>
    <div class="mx-3">
      <div class="formgrid grid my-1">
        <div class="col-6">
          <p-dropdown #subjectDropDown [styleClass]="'w-100'" [options]="subjects" [optionLabel]="'name'" [optionValue]="'id'" class="mr-3"></p-dropdown>
          <p-message *ngIf="alreadyAddedSubject" [styleClass]="'my-2'" severity="error" text="Message Content"></p-message>
        </div>
        <div class="col-4 flex">
          <button (click)="addSubjectToRegisterAction(subjectDropDown)" pButton class="mx-2 p-button-raised" label="Add" icon="pi pi-plus"></button>
          <button (click)="registerSubjectsAction()" pButton class="mx-2 p-button-plain bg-green-400 border-green-500" label="Save" icon="pi pi-check"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="surface-section border-round mb-4">
  <div class="surface-hover p-3 border-round-bottom">
    qsd
  </div>
</div>
