<div class="container">
  <div class="py-5">
    <div class="d-flex">
      <span class="h3">Save Student</span>
      <span class="spacer"></span>
      <span class="">
        <button (click)="closeModal()" class="p-button-rounded p-button-danger p-button-text" icon="pi pi-times"
                pButton></button>
      </span>
    </div>
    <div class="p-3">
      <form class="" [formGroup]="applicationForm">
        <div *ngIf="editing">
          {{studentApplicationRes ? studentApplicationRes.student.name : ''}}<br>
          {{studentApplicationRes ? studentApplicationRes.application.key.classSubId : ''}}
        </div>
        <div *ngIf="!editing">
          <label class="block text-800 font-medium mb-2">Student Name</label>
          <p-dropdown [styleClass]="'w-100'" [formControlName]="'student'" [options]="students" [optionLabel]="'name'" [optionValue]="'id'"></p-dropdown>

          <div class="form-group row">
            <div class="col-md-6">
              <label class="block text-800 font-medium mb-2">Academic Year</label>
              <p-dropdown [styleClass]="'w-100'" [formControlName]="'year'" [options]="academicYears" [optionLabel]="'name'" [optionValue]="'id'"></p-dropdown>
            </div>
            <div class="col-md-6">
              <label class="block text-800 font-medium mb-2">Class Level</label>
              <p-dropdown [styleClass]="'w-100'" [formControlName]="'classLevel'" [options]="studentClassLevels" [optionLabel]="'name'" [optionValue]="'id'"></p-dropdown>
            </div>
          </div>
        </div>

        <!-- subject related -->
        <div class="form-group py-2">
          <p-divider></p-divider>
          <!-- a styled list of subjects -->
          <label class="block text-800 font-medium mb-2">Subjects</label>
          <div *ngFor="let aps of applicationSubjects" class=" my-2 d-flex">
            <label class="full-width">{{aps.subject.name}} - {{aps.subject.coefficient }}</label>
            <button pButton label="Delete" class="p-button-danger"></button>
          </div>

          <div class="d-flex">

            <table class="table">
              <tr *ngFor="let aps of applicationSubjects" class="table-row">
                <td>{{aps.subject.name}}</td>
                <td>{{aps.subject.coefficient}}</td>
                <td>
                  <button class="p-button-rounded p-button-danger p-button-text" icon="pi pi-times" pButton></button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row py-2">
          <div class="col-md-3">
            <button pButton (click)="addSubject($event, subjectSelect)" [label]="'Add'"></button>
          </div>
          <div class="col-md-9">
            <select #subjectSelect [hidden]="true" class="form-select">
              <option *ngFor="let s of getUnregisteredSubjects()" [value]="s.id">{{s.name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="{{editing ? 'col-6': 'col-12'}}">
            <button (click)="saveApplication()" [disabled]="!applicationForm.valid" class="btn full-width" icon="pi pi-check"
                    label="Save" pButton type="button"></button>
          </div>
          <div class="{{editing ? 'col-6': ''}}">
            <button (click)="deleteApplication()" [hidden]="!editing" [disabled]="!editing"
                    class="btn full-width p-button-danger" icon="pi pi-trash" label="Delete" pButton
                    type="button"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
