<div class="rc-home">
  <app-rc-body-intro
    [buttonIcon]="'pi pi-cog'"
    [buttonLabel]="'Settings'"
    [buttonLink]="'#'"
    [title]="'Home'">
  </app-rc-body-intro>

  <!-- Home Stats -->
  <div class="row py-4">
    <div *ngFor="let stat of homeStats" class="col-md-3 p-2">
      <p-card styleClass="shadow-1 bg-indigo-700 p-3 text-white">
        <ng-template pTemplate="header">
          <div class="d-flex">
            <i class="{{stat.icon}} text-white-alpha-90"></i>&nbsp;
            <span class="h6">{{stat.title}}</span>
            <span class="spacer"></span>
            <a routerLink="{{stat.link}}">
              <span class="pi pi-arrow-right text-white-alpha-90"></span>
            </a>
          </div>
        </ng-template>
        <ng-template pTemplate="body">
          <span class="text-7xl">{{homeStatsValueDisplay(stat.value)}}</span>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
