<div class="py-4 px-2 m-2">
  <span class="text-2xl">Change Password</span>
  <form class="p-fluid" [formGroup]="changePasswordForm" (submit)="changePasswordAction()">
    <div class="field">
      <label>Old Password</label>
      <input type="password" pPassword pInputText [formControlName]="'oldPass'">
    </div>
    <div class="field">
      <label>New Password</label>
      <input type="password" pPassword pInputText [formControlName]="'newPass'">
    </div>
    <div class="field">
      <label>Repeat Password</label>
      <input type="password" pPassword pInputText [formControlName]="'rptPass'">
    </div>
    <button [disabled]="!isPasswordFormValid()" pButton label="Save"></button>
  </form>
</div>
