<div class="rc-subjects">
  <div class="py-2 d-flex">
    <span class="h3">Students</span>
    <span class="spacer"></span>
    <span class="px-2">
      <button [routerLink]="['/dashboard/student/add']" class="p-button-rounded" icon="pi pi-plus-circle" pButton
              type="button"></button>
    </span>
    <span class="px-2">
      <button (click)="loadStudents()" class="p-button-rounded" icon="pi pi-refresh" pButton type="button"></button>
    </span>
  </div>

  <div class="py-4">
    <div class="surface-section">
      <p-table [value]="students" [rows]="10" [paginator]="true" [globalFilterFields]="['name', 'regNum', 'gender']" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>RegNo</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-student>
          <tr>
            <td>{{student.regNum}}</td>
            <td>{{student.name}}</td>
            <td>{{student.gender | titlecase}}</td>
            <td>
              <button [routerLink]="['/dashboard/student/view', student.id]" class="mr-1 p-button-rounded" icon="pi pi-pencil" pButton
                      type="button"></button>
              <button (click)="deleteStudentAction(student)" class="mr-1 p-button-rounded p-button-danger" icon="pi pi-trash" pButton
                      type="button"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            In total, there {{students.length == 1? 'is':'are'}} {{students.length}} student{{students.length == 1? '':'s'}}.
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
